node_modules/
Beav_Test_Repo
dist/
build/
.pnpm-store*
.pnpm/
.env
.env.local
.env.*.local
.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*
.yarn/
.vite/
.cache/
.turbo/
coverage/
.nyc_output/
*.tsbuildinfo
